body {
    margin:0;
  
  }
  
  
  .banner {
    background-image: url('background.jpeg');
    background-size: cover;
    background-position: center;
    height: 100vh;
  
  }
  .header {
      /*padding-left: 20px;
      padding-right: 20px;
      padding-top: 20px;
      padding-bottom: 20px; */
      padding: 30px;
      
  }

  